.saleProportion-breakdown {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .sp-item {
        height: 70px;
        width: 250px;
        display: flex;
        border: 1px solid;
        border-color: rgb(210, 210, 210);
        border-radius: 8px;

        .sp-color {
            height: 100%;
            width: 8px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .name-and-percentage {
            display: flex;
            align-items: center;

            .name {
                flex: 1;
            }

            .percentage {
                color: gray;
                margin-left: 5px;
            }
        }

        .amount {
            font-weight: bold;
        }
    }
}